
a:hover{
  color: rgb(255, 212, 91);
}
li:hover{
  color: rgb(255, 212, 91);
}
.dropdown:hover .dropdownList{
  display: block;
}
#dropdownItem:hover{
  background-color: rgb(255, 212, 91);
}

/* Elements */
body{
  background-color: rgb(233, 233, 233);
}
header{
  position: sticky;
  top: 0px;
}
div{
  position: absolute;
  top: 660px;
  min-width: 800px;
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Slabo 27px', georgia, times, serif;
}
h1{
  font-family: 'Saira', arial, sans-serif;
  font-size: 24px;
  color: rgb(233, 233, 233);
}
h3{
  font-family: 'Saira', arial, sans-serif;
}
ul{
  font-family: 'Saira', arial, sans-serif;
  color: rgb(233, 233, 233);
  text-align: left;
  padding-left: 20%;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(13, 15, 96);
  width: 1200px;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: -10px;

}
li{
  display: inline;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a{
  color: rgb(233, 233, 233);
  text-decoration: none;
}
img{
  width: 1200px;
}

/* Class */
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dropdownList{
  display: none;
  position: absolute;
  top: 55px;
  left: 820px;
  max-width: 100px;
  background-color: white;
  text-align: right;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Ids */
#webTitle{
  text-align: left;
  padding-left: 10px;
  color: rgb(13, 15, 96);
  text-align: left;
  padding-left: 160px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  width: 1340px;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: -10px;
}
#dropdownItem{
  color: rgb(13, 15, 96);
  padding-left: -10px;
  padding-right: 10px;
}
#footer{
  font-family: 'Slabo 27px', georgia, times, serif;
  font-size: 10px;
  text-align: center;
  color: rgb(233, 233, 233);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(13, 15, 96);
  width: 1480px;
  margin-top: 180px;
  margin-bottom: -50px;
  margin-left: -10px;
}
